:root {
  --background-color: #ffffff;
  --green-color: #3acc4b;
  --green-color-hover: #16a414;
  --grey-color: rgb(51, 51, 51);
  --grey-color-hover: rgb(75, 75, 75);
  --green-color: #28cb1d;
  --lbg-color: #006a4d;
}
